.gitignore
卷积神经网络-CNN(基本原理-独特价值-实际应用).pdf
/ansible 2.17  官方文档翻译/
/c++ 笔记/
django 相关/*.gif
django 相关/python 3.x 学习.txt
/info/
k8s 日常操作&k8s v1.30.0备份/k8s-install-pkg-cfg.tar.gz
k8s,docker,etcd,elk,harbor 操作笔记/harbor 修改连接方式.txt
k8s,docker,etcd,elk,harbor 操作笔记/helm.txt
k8s,docker,etcd,elk,harbor 操作笔记/kubernetes-client初始安装配置.txt
k8s,docker,etcd,elk,harbor 操作笔记/kubernetesdashboard -v2.4.0.txt
k8s,docker,etcd,elk,harbor 操作笔记/OPA(Open Policy Agent).txt
Languages/c++/c++11/C++11 lambda匿名函数用法详解.pdf
Languages/CMakeLists.txt
Languages/golang/
Languages/R语言.txt
Languages/send_msg_v2/
Languages/sourcetrail.txt
Languages/web手册/
O&M(Operation and Maintenance)/服务/NoSQL/redis官方翻译/
O&M(Operation and Maintenance)/监控/zabbix/zabbix v4.4.x/用户管理系统说明/
O&M(Operation and Maintenance)/容器及云平台/docker registry ui(s)/harbor/*.pdf
O&M(Operation and Maintenance)/容器及云平台/k8s 认证鉴权/
O&M(Operation and Maintenance)/容器及云平台/kubeadm安装k8s/
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/dns.txt
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-apiserver全部参数(英文)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-apiserver全部非实验性参数(翻译)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-controller-manager全部参数(英文)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-controller-manager全部非实验性参数(翻译)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kubelet全部参数(英文)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kubelet全部非实验性参数(翻译)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-proxy全部参数(英文)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-proxy全部非实验性参数(翻译)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-scheduler全部参数(英文)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/kube-scheduler全部非实验性参数(翻译)
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.14/online/
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/k8s v1.8/参数解释/
O&M(Operation and Maintenance)/容器及云平台/kubernets&etcd&fannel&docker/src/Docker镜像/project/ActiveMQ/activemq.xml.default.html
O&M(Operation and Maintenance)/容器及云平台/openshift/k8s-ovs_admin.pdf
O&M(Operation and Maintenance)/容器及云平台/openshift/k8s-ovs.pdf
O&M(Operation and Maintenance)/容器及云平台/openshift/openshift官方文档/
O&M(Operation and Maintenance)/容器及云平台/openshift/OpenShift容器平台参考架构实施指南 - OpenShift博客.pdf
O&M(Operation and Maintenance)/压力测试/sysbench/sysbench压力测试工具的安装和使用 _ 小强斋太-Study Notes (2019-10-15 下午1_56_13).html
Scripting language/php/Laravel/
/shell变量详解.pdf
/SRE 读书笔记/
tensorflow/26种神经网络激活函数可视化.pdf
tensorflow/必备知识/numpy/
tensorflow/一文弄懂神经网络中的反向传播法.png
tensorflow/Keras(中英对照)/
tensorflow/python 基础知识点/
