
[client]
port		= 3306
socket		= /home/blue/apps/mysql/tmp/mysql.sock

default-character-set = system_character_set

[mysqld]

port		= 3306
socket		= /home/blue/apps/mysql/tmp/mysql.sock

back_log = 50

# character 
init_connect = ‘SET collation_connection = utf8_unicode_ci’
init_connect = ‘SET NAMES utf8’
character-set-server = utf8
collation-server = utf8_unicode_ci
skip-character-set-client-handshake

max_connections = 1000
max_connect_errors = 10

table_open_cache = 128k
max_allowed_packet = 52M
binlog_cache_size = 1M
max_heap_table_size = 64M

read_buffer_size = 2M
read_rnd_buffer_size = 16M
sort_buffer_size = 16M
join_buffer_size = 8M

thread_cache_size = 8
thread_concurrency = 8

query_cache_size = 64M
query_cache_limit = 2M

ft_min_word_len = 4

default-storage-engine = INNODB

thread_stack = 240K

transaction_isolation = REPEATABLE-READ

tmp_table_size = 64M

datadir = /home/blue/apps/mysql/data
log-bin=/home/blue/apps/mysql/logs/mysql-bin
binlog_format=row

slow_query_log=/home/blue/apps/mysql/logs/
long_query_time=5

#跳过多个表和数据库
replicate-ignore-db = mysql,tungsten_mongodb
replicate-ignore-table = mallbuilder.mallbuilder_shop
replicate-ignore-table = mallbuilder.mallbuilder_shop_setting
#replicate-wild-ignore-table = mallbuilder.mallbuilder_shop
#replicate-wild-ignore-table = mallbuilder.mallbuilder_shop_setting



server-id = 101

#做从同时给其他从做主时候必须使用，否则其他从无法同步数据 
#log-slave-updates

########## myisam ##################

key_buffer_size = 65M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam_recover

############ innodb ########################

innodb_additional_mem_pool_size = 16M
innodb_buffer_pool_size = 5G
innodb_data_file_path = ibdata1:10M:autoextend
innodb_write_io_threads = 8
innodb_read_io_threads = 8
innodb_thread_concurrency = 16
innodb_flush_log_at_trx_commit = 1
innodb_log_buffer_size = 8M
innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120

innodb_io_capacity = 300

#master slave error
slave_skip_errors = all
max_connections = 65535
[mysqldump]
quick

max_allowed_packet = 64M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 65536
